nav {
  background-color: var(--navBg);
  border-bottom: 1px solid var(--sidebar-border);
  
}
.navContainer {
  margin: 0 auto;
  padding: 0 10px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
