.sidebar {
  grid-row: 2 / 3; /* Navbar ostida */
  background: var(--bgLight);
  color: black;
  padding: 20px;
  padding-top: 55px;
  border-right: 1px solid var(--sidebar-border);
  box-shadow: 0px 4px 6px rgb(0, 0, 0);
}
.sidebarLinks a {
  display: block;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
  padding: 10px 15px;
  margin-bottom: 4px;
  border-radius: 8px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s ease;
}
.sidebarLinks a svg {
  font-size: 24px;
  color: #6c7280;
}
.sidebarLinks a.active svg {
  font-size: 24px;
  color: #fff;
}
.sidebarLinks a.active {
  background: linear-gradient(90deg, #3a80f6, #1e50d9);
  color: white;
}

